@import java.util

@(searchResults: util.List[Status], user: User)

@master(user.getScreenName+"'s Twitter Profile") {
    <ul>
        <li>User name: @user.getScreenName</li>
        <li>Real name: @user.getName</li>
        <li>Location: @user.getLocation</li>
        <li>Description: @user.getDescription</li>
        <li>Followers: @user.getFollowers</li>
        <li>Friends: @user.getFriends</li>
    </ul>

    <ul>
    @for(status <- searchResults) {
        <li><a href="@routes.TwitterController.profile(status.getUser.getScreenName)">@status.getUser.getScreenName</a> wrote: @status.getFullText</li>
    }
    </ul>
}